<div class="box-mb box-shadow">
    <a ng-click="next()" ng-href="#/" class="block box box-lg bg-white">
        <div class="row">
            <div class="col-xs-6 text-light-grey">
                收件人：王陈林
            </div>
            <div class="col-xs-6 text-light-grey">
                电话：18273734950
            </div>
            <div class="col-xs-12 text-light-grey">
                收件地址：北京市朝阳区建国路88号
            </div>
        </div>
    </a>
    <div class="line grey"></div>
</div>
<ul class="ls auction-track box box-lg">
    <li class="text-grey box box-lg">
        <span>快件离开上海 已发往 北京</span>
        <span class="dot"></span>
    </li>
    <li class="text-grey box box-lg">
        <span>快件离开上海 已发往 北京</span>
        <span class="dot"></span>
    </li>
    <li class="text-grey box box-lg">
        <span>快件离开上海 已发往 北京</span>
        <span class="dot"></span>
    </li>
    <li class="text-grey box box-lg">
        <span>快件离开上海 已发往 北京</span>
        <span class="dot"></span>
    </li>
    <li class="text-grey box box-lg">
        <span>快件离开上海 已发往 北京</span>
        <span class="dot"></span>
    </li>
</ul>
